body{
    font-family: 'Teko', sans-serif;
    margin: 0;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 40px;
}
p{
    font-size: 25px;
}

.orange-color{
    color: orange;

}
.link-item{
    text-decoration: none;
    color:black;
    font-weight: 700;
    background-image: linear-gradient(orange, gray );
    padding: 10px 60px;

}

.flexible-container{
    display: flex;
}
.half-width{
width: 50%;
margin-top: 20px;
margin-bottom:140px ;
padding-right: 50px;
padding-left: 50px;

}
.half-width img{
    width: 100%;
}
/* .dream-big{
    margin-right: 30px;
    width: 90%;
} */

.experiences-item{
    width: 40%;
    margin-left: 50px;
    box-shadow: 10px 10px 10px 10px;
    border-radius: 20px;

}
.experiences-item-pro{
    width: 40%;
    margin-left: 30px;
    margin-right: 50px;
    box-shadow: 10px 10px 10px 10px;
    border-radius: 20px;
}
#slice-one{

    border-left: 10px solid;
    border-image: linear-gradient(blue, gray );
    border-image-slice: 1;
}

#slice-two{
    border-left: 10px solid;
    border-image: linear-gradient(  yellow, blue );
    border-image-slice: 1;

}
#top-banar{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
#dream-banar{
background-image: url(./images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
#experience-bannar{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.para{
    padding-right: 120px;
}